.form {
    background: #3AD886;
    border-radius: 5px;
    width: 25%;
    height: 50vh;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.form-picture {
    width: 60%;
    height: 200px;
    margin: 10px auto;
    background: url("no_image.png") no-repeat center;
}

.form-input-label {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    width: 90%;
    margin: 10px auto;
}

.form-input {
    width: 90%;
    margin: 0 auto;
    border: none;
}

.form-edit-buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}

.form-button {
    background: #ED6B5A;
    border: none;
    border-radius: 5px;
    height: 30px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.form-button:focus {
    outline: 0;
}